/*Proveedores*/
/* Estilo de texto prov */
#infoProveedor{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto registro prov */
#regProveedor{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto caja prov */
#proveedorCaja{
    padding:20px;
    border-radius: 10px;
    background-color: #A8DBA8;
}
/* la caja de campos proveecor ponemos un padding de 6 arriba para alinear con txt */
#proveedorCaja h6{
    padding-top: 6px;
}

/* estilo a la caja de proveedor */
#controladorProvCaja{
    background-color: #3B8686;
    padding: 20px;
    border-radius: 10px;
}

/* estilo a los botones de proveedor */

#controladorProvCaja .btn{
    background-color: transparent;
    color: white;

}

.ordenar .btn{
    background-color: #A8DBA8;
    border-radius: 0px;
}

.ordenar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#brand {
    min-height: auto;
    max-width: 1000px;
    margin: auto;
}

/* MARCA */



#contenedor-bit{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(245, 241, 241);
    width: 70%;
    margin-bottom: 50px;
    padding-top: 50px;
}

#searchBarMarca{
    width: 80%;
}

#searchBarMarca .btn{
    background-color: #3B8686;
    margin: 10px;
    height: 40px;
    width: 50px;
}

#tabla{
    margin-left: 10px;
    margin-right: 10px;
}

#tabla .btn{
    color: red;
}



/* Responsive */ 

@media screen and (max-width: 800px){
    #contenedor-bit{
        margin-left: 10px;
        margin-right: 10px;
        width: 96%;
    }
}

/* FIN DE MARCA*/

/*AGREGAR PRODUCTO*/

/* Estilo de texto prov */
#infoProducto{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto registro prov */
#regProducto{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto caja prov */
#productoCaja{
    padding:20px;
    border-radius: 10px;
    background-color: #A8DBA8;
}
/* la caja de campos proveecor ponemos un padding de 6 arriba para alinear con txt */
#productoCaja h6{
    padding-top: 6px;
}

/* estilo a la caja de proveedor */
#controladorProduCaja{
    background-color: #3B8686;
    padding: 20px;
    border-radius: 10px;
}

/* estilo a los botones de proveedor */

#controladorProduCaja .btn{
    background-color: transparent;
    color: white;

}

#productoCaja .form-select {
    border-radius: 0;
    min-width: 200px;
}

#tabla_pro .btn{
    color: red;
}

/*Empleados*/
/* Estilo de texto prov */
#FormularioEmpleado{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}

#tabla_emp .btn{
    color: red;
}
/* estilo de texto registro prov */
#RegisEmpleados{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto caja prov */
#DatosEmpleado{
    padding:20px;
    border-radius: 10px;
    background-color: #A8DBA8;
}
/* la caja de campos proveecor ponemos un padding de 6 arriba para alinear con txt */
#proveedorCaja h6{
    padding-top: 6px;
}

/* estilo a la caja de proveedor */
#ControladorEmpleados{
    background-color: #3B8686;
    padding: 20px;
    border-radius: 10px;
}

/* estilo a los botones de proveedor */

#ControladorEmpleados .btn{
    background-color: transparent;
    color: white;

}

.DiseBuscador .btn{
    background-color: #A8DBA8;
    border-radius: 0px;
}

.DiseBuscador{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/*Categorias*/
/* Estilo de texto prov */
#FormularioCate{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto registro prov */
#RegisCate{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto caja prov */
#DatosCate{
    padding:20px;
    border-radius: 10px;
    background-color: #A8DBA8;
}

#tabla_Cate .btn{
    color: red;
}
/* la caja de campos proveecor ponemos un padding de 6 arriba para alinear con txt */
#proveedorCaja h6{
    padding-top: 6px;
}

/* estilo a la caja de proveedor */
#ControladorCate{
    background-color: #3B8686;
    padding: 20px;
    border-radius: 10px;
}

/* estilo a los botones de proveedor */

#ControladorCate .btn{
    background-color: transparent;
    color: white;

}

.Buscador .btn{
    background-color: #A8DBA8;
    border-radius: 0px;
}

.Buscador{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Valoraciones */

#tablaVal{
    margin: 20px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#tablaVal .btn{
    color: red;
}

#infoVal{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}

#regVal{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}

/*Termina valoraciones*/


