/*Login CSS*/

body{
    background: url(../img/fondo_login.jpg) no-repeat center top;
}


.container{ 
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    justify-content: center;
    align-items: center;
}

::placeholder { color: darkgray; }

.login-box{
    width: 23%  ;
    height: 75%;
    background-color: #0B486B;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    
}
.right-part{
    width: 23%;
    height: 75%;
    background: #3B8686;
    color: #0B486B;
    padding: 20px;
    box-sizing: border-box;
}

.right-part .avatar {
    width: 100%;
    height: auto;
    top: 3%;
    left: 0;
}

.login-box label[for='slogan']{
    color: white;
    top: 40%;
    left: -80%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login-box label[for='slogan2']{
    color: white;
    top: 50%;
    left: -90%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: #0B486B;
}

.right-part input{
    width: 97%;
    margin-bottom: 20px;
}

.right-part input[type='text'],
.right-part input[type='password']{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.right-part input[type='submit']{
    border: none;
    outline: none;
    height: 40px;
    background: #0B486B;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.right-part a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #0B486B;
}

.right-part a:hover{
    color: white;
}

@media screen and (max-width: 1000px){
    .login-box{
        width: 50%;
    }
    .right-part{
        width: 50%;
    }
}


@media screen and (max-width: 400px){
    .container{
        width: 100%;
    } 
    .right-part{
        width: 100%;
    }
}

/*Registro CSS*/
    
body{
    background: url(../img/fondo_login.jpg) no-repeat center top;
}


.container{ 
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    justify-content: center;
    align-items: center;
}

::placeholder { color: darkgray; }

.signUp-box{
    width: 40%  ;
    height: 75%;
    background-color: #0B486B;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.right-part{
    width: 40%;
    height: 75%;
    background: #3B8686;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.right-part .avatar {
    width: 100%;
    height: auto;
    top: 3%;
    left: 0;
}

.right-part h1{
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.right-part label[for='password']{
    padding: 5px;
    margin: 0;
    color: white;
    top: 20%;
    left: 105%;
    font-size: 15px;
    font-weight: bold;
    display: block
}

.right-part label[for='passwordConfirm']{
    padding: 5px;
    margin: 0;
    color: white;
    top: 35%;
    left: 105%;
    font-size: 15px;
    font-weight: bold;
    display: block
}

.right-part .password {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.right-part .Confirm {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}


.signUp-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: white;
}

.signUp-box input{
    width: 100%;
    margin-bottom: 20px;
}

.signUp-box input[type='text']{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.signUp-box .Siguiente{
    border: none;
    outline: none;
    height: 40px;
    background: #3B8686;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.signUp-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.signUp-box a:hover{
    color: white;
}

.right-part .SignUp{
    margin: 5px;
    border: none;
    outline: none;
    height: 40px;
    background: #0B486B;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

@media screen and (max-width: 1000px){
    .signUp-box{
        width: 100%;
    }
    .right-part{
        width: 100%;
    }
}


@media screen and (max-width: 400px){
    .container{
        width: 100%;
    } 
    .right-part{
        width: 100%;
        padding: 50px;
    }
}

/*Recu CSS*/

body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo_login.jpg) no-repeat center top;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

::placeholder { color: darkgray; }

.signUp-box{
    width: 400px;
    height: 300px;
    background-color: #0B486B;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.signUp-box .avatar {
    position: absolute;
    top: 10px;
    left: 40px;
}

.signUp-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: white;
}

.signUp-box input{
    width: 100%;
    margin-bottom: 20px;
}

.signUp-box input[type='text']{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.signUp-box .Siguiente{
    border: none;
    outline: none;
    height: 40px;
    background: #3B8686;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.signUp-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #3B8686;
}

.signUp-box a:hover{
    color: white;
}

/*Marca CSS*/

.section .brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 90%;
    min-height: 500px;
    justify-content: center;
}

.section label{
    font-family: "Montserrat";
    padding: 10px;
}

.section .brand .n1{
    color: white;
    background-color: #3B8686;
    border-radius: 10px;
} 

.fondo{
    color: white;
    border-radius: 10px;
    background-color: #79BD9A;
    padding: 20px;
}

.fondo{
    color: white;
    border-radius: 10px;
    padding: 20px;
    background-color: #0B486B;
}

.section input{
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section input[type='text']{
    border: 10px;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.btn{
    width: 100%;
    color: white;
    background-color: transparent;
}

::placeholder { color: darkgray; }

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .section .brand {
        width: 100%;
    }
    .section input[type='text']{
        width: 90%;
    }
}

.form-control{
    border-radius: 0;
}

/*Perfil style CSS*/

.user-profile-section .user-profile-body,
.user-profile-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.user-profile-section .user-profile-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#0B486B, transparent);
    margin-bottom: 1.25rem;
}

.user-profile-section .user-profile-corver-page {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #0B486B, #317FFF);
    border-radius: 0 0 20px 20px;
}

.user-profile-section .user-profile-corver-page .button-cover-page {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.user-profile-section .user-profile-corver-page .button-cover-page i {
    margin-right: 1rem;
}

.user-profile-section .user-profile-footer .editar .button-edit {
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.user-profile-section .user-profile-footer .editar .button-edit i {
    margin-right: 1rem;
}

.user-profile-section .user-profile-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.user-profile-section .user-profile-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.user-profile-section .user-profile-avatar .button-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.user-profile-section .user-profile-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.user-profile-section .user-profile-body .title {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.user-profile-section .user-profile-body .text {
    color: #848484;
    font-size: 0.95em;
}

.user-profile-section .user-profile-footer,
.user-profile-section .user-profile-bio {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.user-profile-section .user-profile-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.user-profile-section .data-list {
    width: 50%;
    list-style: none;
}

.user-profile-section .data-list li {
    padding: 5px 0;
}

.user-profile-section .data-list li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.user-profile-section .social-media {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.user-profile-section .social-media .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.user-profile-section .social-media .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.user-profile-section .boton-redes.facebook {
    background-color: rgb(34, 34, 180);
}

.user-profile-section .boton-redes.twitter {
    background-color: #35E1BF;
}

.user-profile-section .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .user-profile-section .data-list {
        width: 100%;
    }
    
    .user-profile-section .user-profile-corver-page,
    .user-profile-section .user-profile-body {
        width: 95%;
    }

    .user-profile-section .social-media {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .user-profile-section .social-media .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

/*Style CSS*/

*{
    box-sizing: border-box;
    
}

/* Quitamos decoracion de A */

a{
    text-decoration: none;
}

/* ponemos color a body */

body{
    background-color: white;
}

/* Ponemos estilo al footer */

#ptDerechos{
    background-color: rgba(0, 0, 0, 0.2);
}

/* estilos del footer principal */
#ptFooter{
    background-color: #0B486B;
    color: white;
}


#mnSuperior{
    background-color: #3B8686;
    
}

#mnSuperior .btn{
    color: white;
    background-color: transparent;
    border: 0px;
}


.form-select{
    border-radius: 0;
    width: 30%;
}

.form-control{
    border-radius: 0;
}



#SearchBar{
    display: flex;
    align-items: flex-start;
}

#SearchBar .btn{
    border-radius: 0;
    background-color: lightgreen;
    height: 37.5px;
}


#mnInferior{
    background-color: #79BD9A;
}

.menu{
    background-color: #79BD9A;
    padding: 5px 0;
    margin-bottom: 20px;
}

/* MENU DE BOTONES DE BARRITA Y CERRAR */
.menu .contenedor-botones-menu{
    display: none;
    justify-content: space-between;
    
}

/* ESTILOS DE BOTONES DEL MENU */
.menu .contenedor-botones-menu button{
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}
/* ESTILOS DE BOTONES DEL MENU */

.menu .contenedor-botones-menu button:hover{
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar{
    display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo{
    display: inline-block;
    
}

/* Orientacion del menu */

.menu .contenedor-enlaces-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-categorias{
    color: white;
    padding: 7px;
    
    display: flex;
    border-radius: 3px;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 15px;
    cursor: default;
}

.menu .btn-categorias i{
    margin-left: 20px;
    position: relative;
    bottom: 16px;
}

.menu .btn-categorias:hover{
    border: 1px solid rgba(255, 255, 255, .4)
}

.menu .btn-categorias span{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a{
    color: white;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 17px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover{
    border: 1px solid rgba(255, 255, 255, .4);
}

/* GRID DE Navegacion Categorias */

.contenedor-grid{
    position: relative;
}

.grid{
    width: 100%;
    display: none;
    
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategoria subcategoria  "; 
}

.grid.activo{
    display: grid;
}

.grid::before{
    content: "";
    display: block;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid > div{
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

.grid .btn-regresar{
    background-color: #79BD9A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar i{
    margin-right: 7px;
}

/* Categorias  */

.grid .categorias{
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
    overflow: auto;
}

.grid .categorias .subtitulo{
    display: none;
}

.grid .categorias a{
    color: #0B486B;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .categorias a i{
    display: none;

}

.grid .categorias a:hover{
    color: #79BD9A;
    font-weight: bold;
}

.grid .categorias a:hover i{
    display: inline-block;
}

/* Subcategorias */

.grid .contenedor-subcategorias{
    grid-area: subcategoria;
    
}



.grid .subcategoria{
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.grid .subcategoria.activo{
    display: grid;
}

.grid .subcategoria img{
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.grid .subcategoria .info-subcategoria{
    padding-top: 10px;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.grid .subcategoria .info-subcategoria p{
    color: black;
    display: block;
    font-size: 15px;
    padding: 10px 20px;
}

.grid .subtitulo{
    font-size: 18px;
    font-weight: normal;
    color: #79BD9A;
    padding: 10px 20px;
}

.grid .banner-subcategoria a{
    display: block;
    height: 100%;
}


/* Responsive de barra de navegacion 2 */

@media screen and (max-width: 1000px){
    .menu .contenedor-enlaces-nav{
        padding: 0 10px;
    }

    .menu .container{
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .menu .container{
        width: 90%;
    }

    .menu .contenedor-botones-menu{
        display: flex;
    }

    .menu .contenedor-enlaces-nav{
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        height: 100vh;
        background-color: #79BD9A;
        width: 80%;
        z-index: 2000;
        transition: .3s ease all;
        transform: translate(-100%);
    }

    .menu .contenedor-enlaces-nav.activo{
        transform: translate(0%);
    }

    .menu .btn-categorias{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .menu .btn-categorias i{
        position: static;
        margin-left: 20px;
        transform: rotate(-90deg);
    }

    .menu .enlaces{
        width: 100%;
    }
    
    .menu .enlaces a{
        display: block;
        margin: 10px 0;
        padding: 10px;
    }

    .grid {
        display: grid;
        transition: .3s ease all;
        transform: translateX(-100%);
        z-index: 3000;
        width: 80%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        grid-template-areas: "categorias categorias categorias";

    }

    .grid.activo{
        transform: translateX(0);
    }

    .grid::before{
        display: none;
    }

    .grid .btn-regresar{
        display: inline-block;
    }

    .grid .categorias .subtitulo{
        display: block;
    }

    .grid .contenedor-subcategorias{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
    }
}


/*Proveedores CSS*/

/* Estilo de texto prov */
#infoProveedor{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto registro prov */
#regProveedor{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto caja prov */
#proveedorCaja{
    padding:20px;
    border-radius: 10px;
    background-color: #A8DBA8;
}
/* la caja de campos proveecor ponemos un padding de 6 arriba para alinear con txt */
#proveedorCaja h6{
    padding-top: 6px;
}

/* estilo a la caja de proveedor */
#controladorProvCaja{
    background-color: #3B8686;
    padding: 20px;
    border-radius: 10px;
}

/* estilo a los botones de proveedor */

#controladorProvCaja .btn{
    background-color: transparent;
    color: white;

}

.ordenar .btn{
    background-color: #A8DBA8;
    border-radius: 0px;
}

.ordenar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Vista pro CSS0*/

h1{
    text-align: center;
    font-style: oblique;
}

h2{
    left: 50%;
}

.signUp-box label[for='nombre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 40%;
    left: 30%;
}

.signUp-box .nombreTXT{
    border: none;
    outline: none;
    height: 40px;
    left: 30%;
    top: 45%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}



.signUp-box label[for='precio'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 55%;
    left: 30%;
}

.signUp-box .precioTXT{
    border: none;
    outline: none;
    height: 40px;
    left: 30%;
    top: 60%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='Descripcion'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 30px;
    position: absolute;
    width: 90%;
    top: 35%;
    left: 50%;
    font-style: italic;
}

.descripcionTXT{
    border: black;
    outline: none;
    height: 40px;
    left: 50%;
    top: 43%;
    background: white;
    color: black;
    font-size: 16px;
    width: 400px;
    position: absolute;
}

label[for='Precio_Num'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 38%;
    left: 75%;
    font-style: italic;
}

label[for='cantidad'] {
    border: non;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 53%;
    left: 50%;
    font-style: italic;
}

.CantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    top: 52%;
    left: 56%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}

.Comentario{
    border-color: black;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    width: 40%;
    position: absolute;
}



label[for='Comentario'] {
    border: none;
    background: transparent;
    outline: none;
    height: 60px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 60%;
    top: 45%;
    left: 60%;
}

.signUp-box .ImagenIMG{
    border: none;
    outline: none;
    height: 300px;
    left: 55%;
    top: 50%;
    background: rgb(133, 132, 132);
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

.Guardar{ 
    left: 69%;
    top: 53%;
    position: absolute;
    background-color: rgb(186, 236, 86);
}

.GuardarComentario{ 
    left: 42%;
    top: 132%;
    position: absolute;
    background-color: rgb(186, 236, 86);
}


#tbProducto{
    margin: 150px auto;
    width: 600px;
    left: 10%;
}

table{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
}

thead{
    background-color: lightblue;
    border-bottom: solid 5px #0f362f;
    color: white;
}

:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}
.valoracion {
    display: flex;
    flex-direction: row-reverse;
    
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
    left: 55%;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}


/*Ofertas CSS*/

h1{
    text-align: center;
    font-style: oblique;
}

h2{
    left: 50%;
}

h3{
    left: 40%;
    color: black;

}

label[for='Rango_pre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 32%;
    left: 2%;
}

.Rango1{
    border-color: black;
    outline: black;
    height: 40px;
    left: 1%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

.Rango2{
    border-color: black;
    outline: black;
    height: 40px;
    left: 9%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

label[for='marca'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 48%;
    left: 4%;
}

.selectmarca{
    border-color: black;
    outline: none;
    left: 3%;
    top: 54%;
    background: white;
    color: black;
    position: absolute;
    width: 100px;
}


label[for='Precio_Num'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 38%;
    left: 75%;
    font-style: italic;
}

label[for='cantidad'] {
    border: non;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 53%;
    left: 50%;
    font-style: italic;
}



.CantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    top: 52%;
    left: 56%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}




label[for='Coincidencias'] {
    border: none;
    background: transparent;
    outline: none;
    height: 60px;
    color: black;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    width: 60%;
    top: 25%;
    left: 25%;
}

.TEXTBOX{
    border-color: black;
    outline: none;
    height: 40px;
    top: 25%;
    left: 41%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}

.sidebar{
    
    left: 0;
    width: 200px;
    height: 100%;
    background: #a8dba8;
    min-height: 100vh;
}

.col-3
{
   flex-basis: 30px;
   min-width: 250px;
   margin-bottom: 30px;
}

/*AgregarProducto CSS*/

h1{
    text-align: center;
}


label[for='nombre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 40%;
    left: 30%;
}

.nombreTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 45%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}



label[for='precio'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 55%;
    left: 30%;
}

.precioTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 60%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='Descripcion'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 70%;
    left: 30%;
}

.descripcionTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 75%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='cantidad'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 85%;
    left: 30%;
}

.cantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 90%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='imagen'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 45%;
    left: 60%;
}

.ImagenIMG{
    border: none;
    outline: none;
    height: 300px;
    left: 55%;
    top: 50%;
    background: rgb(133, 132, 132);
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

.Guardar{ 
    left: 47%;
    top: 100%;
    position: absolute;
}

#tbProducto{
    margin: 150px auto;
    width: 600px;
    left: 10%;
}

table{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
}

thead{
    background-color: lightblue;
    border-bottom: solid 5px #0f362f;
    color: white;
}

.fondo{
    color: white;
    background-color: #3B8686;
    border-radius: 10px;
}

/*Busqueda CSS*/

#CajaFiltro{
    background-color: #0B486B;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#CajaFiltro .form-select {
    border-radius: 0;
    min-width: 200px;
}

/*BusquedaPro CSS*/

h1{
    text-align: center;
    font-style: oblique;
}

h2{
    left: 50%;
}

h3{
    left: 40%;
    color: black;

}

label[for='Rango_pre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 32%;
    left: 2%;
}

.Rango1{
    border-color: black;
    outline: black;
    height: 40px;
    left: 1%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

.Rango2{
    border-color: black;
    outline: black;
    height: 40px;
    left: 9%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

label[for='ofertas'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 48%;
    left: 4%;
}

.Si{
    border-color: black;
    outline: none;
    left: 6%;
    top: 54%;
    background: white;
    color: black;
    position: absolute;
}

label[for='marca'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16;
    position: absolute;
    width: 90%;
    top: 61%;
    left: 4.5%;
    font-style: italic;
}

.selectmarca{
    border-color:black;
    left: 2.5%;
    top:66% ;
    background: white;
    position: absolute;
    outline: none;
    width: 100px;
}



label[for='Precio_Num'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 38%;
    left: 75%;
    font-style: italic;
}

label[for='cantidad'] {
    border: non;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 53%;
    left: 50%;
    font-style: italic;
}

img .IMG1{
    position:relative;
    left: 41% ;
    top: 40%;
}

.CantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    top: 52%;
    left: 56%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}

.Comentario{
    border-color: black;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    width: 40%;
    position: absolute;
}



label[for='Coincidencias'] {
    border: none;
    background: transparent;
    outline: none;
    height: 60px;
    color: black;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    width: 60%;
    top: 25%;
    left: 25%;
}

.TEXTBOX{
    border-color: black;
    outline: none;
    height: 40px;
    top: 25%;
    left: 41%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}




.Guardar{ 
    left: 69%;
    top: 53%;
    position: absolute;
    background-color: rgb(186, 236, 86);
}

.GuardarComentario{ 
    left: 42%;
    top: 125%;
    position: absolute;
    background-color: rgb(186, 236, 86);
}


#tbProducto{
    margin: 150px auto;
    width: 600px;
    left: 10%;
}

table{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
}

thead{
    background-color: lightblue;
    border-bottom: solid 5px #0f362f;
    color: white;
}

:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}
.valoracion {
    display: flex;
    flex-direction: row-reverse;
    
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
    left: 55%;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.sidebar{
    
    left: 0;
    width: 200px;
    height: 100%;
    background: #a8dba8;
    min-height: 100vh;
}

.col-3
{
   flex-basis: 30px;
   min-width: 250px;
   margin-bottom: 30px;
}

/*Carrito CSS*/


/* config de botones superiores */
#regresar .bkl{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#regresar .bkl2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
      
}

#regresar .bkl i{
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

#regresar .bkl2 i{
    margin-left: 10px;
    position: relative;
    bottom: 3px;
}

#regresar a{
    text-decoration: none;
    color: black;
}
/* termina config de botones superiores */


/* fondo de cols */

.fondo{
    color: white;
    background-color: #3B8686;
    border-radius: 10px;
}

.fondo h1{
    font-family: "Montserrat";
    padding: 10px;
}

/* formato imagenes en tablas */

.table img{
    max-width: 100px;
}
.table a{
    color: red;
}

/* Formatos en fondos */
.fondoHijo{
    color: white;
    border-radius: 10px;
    background-color: #79BD9A;
    padding: 20px;
}

.fondoHijo2{
    color: white;
    border-radius: 10px;
    padding: 20px;
    background-color: #0B486B;
    

}

.fondoHijo2 .btn{
    width: 100%;
    color: white;
    background-color: transparent;
    height: 100%;
}

/*Gracias CSS*/

.gracias{
    background-color: #3B8686;
    padding: 40px;
    border-radius: 15px;
    color: white;
}

#btnCaja .btn{
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    max-width: 300px;
}

/*IndexStyle CSS*/

/* posicionar el texxto de la imagen a la izquierda y sobre la imagen */
#texto-medio{
    text-align: center;
    font-size: 17px;
    position: absolute;
    z-index: 500;
    color: white;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}


#texto-izquierda{
  position: absolute;
  z-index: 500;
  color: white;
  left: 30%;
  top: 45%;
  transform: translate(-50%, -50%);
}


#textoLine{
  background-image: url(../../img/banners/banner-2.png);
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-shadow: 3px 3px gray;
}

/* posicionar el texxto de la imagen a la derecha y sobre la imagen */

#texto-derecha{
  text-align: right;
  position: absolute;
  z-index: 500;
  color: white;
  left: 70%;
  top: 45%;
  transform: translate(-50%, -50%);
}

/* alilnear texto h5 a la derecha */
#texto-derecha h5{
  text-align: right;

}

/* link a a la derecha con color diferente */
#texto-derecha a{
  color: white;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid white;
}

/* animacion del botones */


#texto-medio h6{
  animation-duration: 1s;
  animation-name: slidein;
  text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.carousel a{
    animation-duration: 1s;
    animation-name: slidein;
    text-align: left;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  #fondoOferta a{
      color: white;
      border: 1px solid transparent;
      padding: 7px;
      border-radius: 3px;
      font-size: 17px;
      border: 1px solid rgba(255, 255, 255, .4);

  }

  #TextoOferta{
    padding: 40px;
  }


/* estilo de A en carrusel */
  .carousel a{
    color: white;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(255, 255, 255, .4);
}

/* animacion de los h1 y h5 */
  .carousel .carousel-inner .carousel-item h1 h5{
    animation-duration: 1s;
    animation-name: slidein;
    text-align: left;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* animacinon de h5 individual en parte especifica */

  .carousel .carousel-inner .carousel-item h5{
    animation-duration: 1s;
    animation-name: slidein;
    text-align: left;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* tamaño de las imagenes  */


.carousel img{
  height: 400px;
  object-fit: cover;
}

/* estilo del fono del texto */


/*  animacion individual h1 */

  .carousel .carousel-item h1{
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  /* cambio de color de iconos de slider */


#elementID {
    color: black;
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
}


/* EMPEZAMOS EL PRIMER SLIDER DE PRODUCTOS XD */

/* contenedor de slider */
.box{
  width: 300px;
  
  border-radius: 10px;
  overflow: hidden;
  margin-left: 15px;
}

/* propuedad de las imagenes */
.slider-img{
  height: 250px;
  position: relative;

}

.slider-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;

}

/* caja detalle */

.detail-box{
  background-color: #D6D6D6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
}

/* Configuracion Fondo Oferta */

#fondoOferta{
  color: white;
  padding: 20px;
  background-color: #79bd9a;
  
}

#fondoOferta p{
  font-size: 17px;
}


/* caja tipo y sus componentes */

.type{
  display: flex;
  flex-direction: column;

}

.type a{
  color: #222222;
  margin: 5px, 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.type span{
  color: rgba(26,26,26, 0.5);
}

/* estilo de precio */

.price{
  color: #333333;
  font-weight: 600;
  letter-spacing: 00.5px;
  font-size: 1.1rem;

}

/* overlay de "card" */
.overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(121,189,154, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* estilo btn comprar */

.buy-btn{
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

/* cuando se ponga dentro del boton cambie color */

.buy-btn:hover{
  color: #ffffff;
  background-color: #A8DBA8;
}

.overlay{
  visibility: hidden;
}
.slider-img:hover .overlay{
  visibility: visible;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

/*LightSlider CSS*/

/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
	display: none;
	
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../../img/slider_pro1/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

/*ProductoAdd CSS*/

/* Estilo de texto prov */
#infoProducto{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto registro prov */
#regProducto{
    background-color: #3B8686;
    color: white;
    border-radius: 10px;
}
/* estilo de texto caja prov */
#productoCaja{
    padding:20px;
    border-radius: 10px;
    background-color: #A8DBA8;
}
/* la caja de campos proveecor ponemos un padding de 6 arriba para alinear con txt */
#productoCaja h6{
    padding-top: 6px;
}

/* estilo a la caja de proveedor */
#controladorProduCaja{
    background-color: #3B8686;
    padding: 20px;
    border-radius: 10px;
}

/* estilo a los botones de proveedor */

#controladorProduCaja .btn{
    background-color: transparent;
    color: white;

}

#productoCaja .form-select {
    border-radius: 0;
    min-width: 200px;
}



