h1{
    text-align: center;
    font-style: oblique;
}

h2{
    left: 50%;
}

h3{
    left: 40%;
    color: black;

}

label[for='Rango_pre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 32%;
    left: 2%;
}

.Rango1{
    border-color: black;
    outline: black;
    height: 40px;
    left: 1%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

.Rango2{
    border-color: black;
    outline: black;
    height: 40px;
    left: 9%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

label[for='marca'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 48%;
    left: 4%;
}

.selectmarca{
    border-color: black;
    outline: none;
    left: 3%;
    top: 54%;
    background: white;
    color: black;
    position: absolute;
    width: 100px;
}


label[for='Precio_Num'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 38%;
    left: 75%;
    font-style: italic;
}

label[for='cantidad'] {
    border: non;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 53%;
    left: 50%;
    font-style: italic;
}



.CantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    top: 52%;
    left: 56%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}




label[for='Coincidencias'] {
    border: none;
    background: transparent;
    outline: none;
    height: 60px;
    color: black;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    width: 60%;
    top: 25%;
    left: 25%;
}

.TEXTBOX{
    border-color: black;
    outline: none;
    height: 40px;
    top: 25%;
    left: 41%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}



.sidebar{
    
    left: 0;
    width: 200px;
    height: 100%;
    background: #a8dba8;
    min-height: 100vh;
}

.col-3
{
   flex-basis: 30px;
   min-width: 250px;
   margin-bottom: 30px;
}