.section .brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 90%;
    min-height: 500px;
    justify-content: center;
}

.section label{
    font-family: "Montserrat";
    padding: 10px;
}

.section .brand .n1{
    color: white;
    background-color: #3B8686;
    border-radius: 10px;
} 

.fondo{
    color: white;
    border-radius: 10px;
    background-color: #79BD9A;
    padding: 20px;
}

.fondo{
    color: white;
    border-radius: 10px;
    padding: 20px;
    background-color: #0B486B;
}

.section input{
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section input[type='text']{
    border: 10px;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.btn{
    width: 100%;
    color: white;
    background-color: transparent;
}

::placeholder { color: darkgray; }

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .section .brand {
        width: 100%;
    }
    .section input[type='text']{
        width: 90%;
    }
}

.form-control{
    border-radius: 0;
}