body{
    background: url(../img/fondo_login.jpg) no-repeat center top;
}


.container{ 
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    justify-content: center;
    align-items: center;
}

::placeholder { color: darkgray; }

.signUp-box{
    width: 40%  ;
    height: 75%;
    background-color: #0B486B;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.right-part{
    width: 40%;
    height: 75%;
    background: #3B8686;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.right-part .avatar {
    width: 100%;
    height: auto;
    top: 3%;
    left: 0;
}

.right-part h1{
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.right-part label[for='password']{
    padding: 5px;
    margin: 0;
    color: white;
    top: 20%;
    left: 105%;
    font-size: 15px;
    font-weight: bold;
    display: block
}

.right-part label[for='passwordConfirm']{
    padding: 5px;
    margin: 0;
    color: white;
    top: 35%;
    left: 105%;
    font-size: 15px;
    font-weight: bold;
    display: block
}

.right-part .password {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.right-part .Confirm {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}


.signUp-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: white;
}

.signUp-box input{
    width: 100%;
    margin-bottom: 20px;
}

.signUp-box input[type='text']{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.signUp-box .Siguiente{
    border: none;
    outline: none;
    height: 40px;
    background: #3B8686;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.signUp-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.signUp-box a:hover{
    color: white;
}

.right-part .SignUp{
    margin: 5px;
    border: none;
    outline: none;
    height: 40px;
    background: #0B486B;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

@media screen and (max-width: 1000px){
    .signUp-box{
        width: 100%;
    }
    .right-part{
        width: 100%;
    }
}


@media screen and (max-width: 400px){
    .container{
        width: 100%;
    } 
    .right-part{
        width: 100%;
        padding: 50px;
    }
}
