*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #CFF09E;
}

#ptDerechos{
    background-color: rgba(0, 0, 0, 0.2);
}

#ptFooter{
    background-color: #0B486B;
    color: white;
}


#mnSuperior{
    background-color: #3B8686;
    
}

#mnSuperior .btn{
    color: black;
    background-color: lightgreen;
}


.form-select{
    border-radius: 0;
    width: 30%;
}

.form-control{
    border-radius: 0;
}



#SearchBar{
    display: flex;
    align-items: flex-start;
}

#SearchBar .btn{
    border-radius: 0;
    background-color: lightgreen;
}


#mnInferior{
    background-color: #79BD9A;
}

.menu{
    background-color: #79BD9A;
    padding: 5px 0;
    margin-bottom: 20px;
}

/* MENU DE BOTONES DE BARRITA Y CERRAR */
.menu .contenedor-botones-menu{
    display: none;
    justify-content: space-between;
    
}

/* ESTILOS DE BOTONES DEL MENU */
.menu .contenedor-botones-menu button{
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}
/* ESTILOS DE BOTONES DEL MENU */

.menu .contenedor-botones-menu button:hover{
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar{
    display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo{
    display: inline-block;
}

/* Orientacion del menu */

.menu .contenedor-enlaces-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-categorias{
    color: white;
    padding: 7px;
    
    display: flex;
    border-radius: 3px;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 15px;
    cursor: default;
}

.menu .btn-categorias i{
    margin-left: 20px;
    position: relative;
    bottom: 16px;
}

.menu .btn-categorias:hover{
    border: 1px solid rgba(255, 255, 255, .4)
}

.menu .btn-categorias span{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a{
    color: white;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 17px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover{
    border: 1px solid rgba(255, 255, 255, .4);
}

/* GRID DE Navegacion Categorias */

.contenedor-grid{
    position: relative;
}

.grid{
    width: 100%;
    display: none;
    
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategoria subcategoria "; 
}

.grid.activo{
    display: grid;
}

.grid::before{
    content: "";
    display: block;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid > div{
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

.grid .btn-regresar{
    background-color: #79BD9A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar i{
    margin-right: 7px;
}

/* Categorias  */

.grid .categorias{
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
}

.grid .categorias .subtitulo{
    display: none;
}

.grid .categorias a{
    color: #0B486B;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .categorias a i{
    display: none;

}

.grid .categorias a:hover{
    color: #79BD9A;
    font-weight: bold;
}

.grid .categorias a:hover i{
    display: inline-block;
}

/* Subcategorias */

.grid .contenedor-subcategorias{
    grid-area: "subcategoria";
}



.grid .subcategoria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

