h1{
    text-align: center;
    font-style: oblique;
}

h2{
    left: 50%;
}

h3{
    left: 40%;
    color: black;

}

label[for='Rango_pre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 32%;
    left: 2%;
}

.Rango1{
    border-color: black;
    outline: black;
    height: 40px;
    left: 1%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

.Rango2{
    border-color: black;
    outline: black;
    height: 40px;
    left: 9%;
    top: 37%;
    background: white;
    color: black;
    font-size: 16px;
    width: 50px;
    position: absolute;
}

label[for='ofertas'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 48%;
    left: 4%;
}

.Si{
    border-color: black;
    outline: none;
    left: 6%;
    top: 54%;
    background: white;
    color: black;
    position: absolute;
}

label[for='marca'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16;
    position: absolute;
    width: 90%;
    top: 61%;
    left: 4.5%;
    font-style: italic;
}

.selectmarca{
    border-color:black;
    left: 2.5%;
    top:66% ;
    background: white;
    position: absolute;
    outline: none;
    width: 100px;
}



label[for='Precio_Num'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 38%;
    left: 75%;
    font-style: italic;
}

label[for='cantidad'] {
    border: non;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    position: absolute;
    width: 90%;
    top: 53%;
    left: 50%;
    font-style: italic;
}

img .IMG1{
    position:relative;
    left: 41% ;
    top: 40%;
}

.CantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    top: 52%;
    left: 56%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}

.Comentario{
    border-color: black;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    width: 40%;
    position: absolute;
}



label[for='Coincidencias'] {
    border: none;
    background: transparent;
    outline: none;
    height: 60px;
    color: black;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    width: 60%;
    top: 25%;
    left: 25%;
}

.TEXTBOX{
    border-color: black;
    outline: none;
    height: 40px;
    top: 25%;
    left: 41%;
    background: white;
    color: black;
    font-size: 16px;
    width: 100px;
    position: absolute;
}




.Guardar{ 
    left: 69%;
    top: 53%;
    position: absolute;
    background-color: rgb(186, 236, 86);
}

.GuardarComentario{ 
    left: 42%;
    top: 125%;
    position: absolute;
    background-color: rgb(186, 236, 86);
}


#tbProducto{
    margin: 150px auto;
    width: 600px;
    left: 10%;
}

table{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
}

thead{
    background-color: lightblue;
    border-bottom: solid 5px #0f362f;
    color: white;
}

:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}
.valoracion {
    display: flex;
    flex-direction: row-reverse;
    
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
    left: 55%;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.sidebar{
    
    left: 0;
    width: 200px;
    height: 100%;
    background: #a8dba8;
    min-height: 100vh;
}

.col-3
{
   flex-basis: 30px;
   min-width: 250px;
   margin-bottom: 30px;
}