h1{
    text-align: center;
}


label[for='nombre'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 40%;
    left: 30%;
}

.nombreTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 45%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}



label[for='precio'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 55%;
    left: 30%;
}

.precioTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 60%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='Descripcion'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 70%;
    left: 30%;
}

.descripcionTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 75%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='cantidad'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 85%;
    left: 30%;
}

.cantidadTXT{
    border-color: black;
    outline: none;
    height: 40px;
    left: 30%;
    top: 90%;
    background: white;
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

label[for='imagen'] {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 90%;
    top: 45%;
    left: 60%;
}

.ImagenIMG{
    border: none;
    outline: none;
    height: 300px;
    left: 55%;
    top: 50%;
    background: rgb(133, 132, 132);
    color: black;
    font-size: 16px;
    width: 300px;
    position: absolute;
}

.Guardar{ 
    left: 47%;
    top: 100%;
    position: absolute;
}

#tbProducto{
    margin: 150px auto;
    width: 600px;
    left: 10%;
}

table{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
}

thead{
    background-color: lightblue;
    border-bottom: solid 5px #0f362f;
    color: white;
}

.fondo{
    color: white;
    background-color: #3B8686;
    border-radius: 10px;
}
