#CajaFiltro{
    background-color: #0B486B;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#CajaFiltro .form-select {
    border-radius: 0;
    min-width: 200px;
}

#ContainerBusqueda{
    min-height: 800px;
}