<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Codificacion de caracteres -->
    <meta charset="UTF-8">
    <!-- Espacio para agregar los LINK -->
    <!-- Iconos de Google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css">
    <!-- Agregamos CSS Style -->
    <link rel="stylesheet" href="../../resources/css/login_style.css">
    <!-- Vista de Compatibilidad -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Optimizacion en equipos pequeñes -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Descripcion de nuestro sitio web -->
    <meta name="description" content="Green Zone, es una tienda en linea dedicada a la venta de productos ecoamigables, con el objetivo de promover el uso de estos y combatir pasivamente la contaminacion de ciertos produtos">
    <!-- Palabras claves de nuestro sitio web -->
    <meta name="keywords" content="Ecologico, Ambiente, Reciclaje, Tienda, Productos, Tienda en linea, Productos ecoamigables">
    <!-- Autor del sitio web -->
    <meta name="author" content="Green Zone Team">
    <!-- Copyright -->
    <meta name="copyright" content="Green Zone Team 2021">
    <!-- Titulo de nuestro Sitio Web -->
    <title>Form Login | Green Zone Store</title>
</head>
<body>
    <div class="container row g-0 col-lg-11 min-vh-100">
        <div class="login-box col-lg-11 d-none  d-sm-block max-vh-100">
            <form>
                <label for="slogan">Evita lo pasajero,</label>
                <label for="slogan2">piensa en el mañana</label>
                </form>
          </div>
          <div class='right-part col-lg-11 d-flex flex-column max-vh-100'>
            <img src="../../resources/img/logos/lg_head.png" class="avatar" alt="Avatar Image">
             <!-- Ingresar nombre de usuario -->
             <label for="username">Usuario</label>
             <input type="text" placeholder="Ingresa tu usuario">
             <!-- Ingresar contresenia de usuario -->
             <label for="password">Contraseña</label>
             <input type="password" placeholder="Ingresa tu contraseña">
             <input type="submit" value="Log In">
             <a href="Recuperacion.html">¿Perdiste tu contraseña? </a><br>
             <a href="Registro.html"> ¿No tienes una cuenta? </a>
             </form>
        </div>
    </div>
</body>
</html>